# Laboratorio 8

Ricardo Pineda | 20160164

Primero, hay que hacer los imports de las librerias que seran usadas

In [1]:
import numpy as np
import pandas as pd

print('importado correctamente')

importado correctamente

In [2]:
dataset_MD = pd.read_csv('titanic_MD.csv')
dataset_MD.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",?,38.0,1.0,0.0,PC 17599,71.2833,C85,C
1,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S
2,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0.0,0.0,17463,51.8625,E46,S

# Solucion

Lo primero es determinar que columnas tienen datos nulos. Para esto se usa la funcion **isna** y se suman los resultados

In [5]:
print(dataset_MD.isna().sum())

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex             0
Age            25
SibSp           3
Parch          12
Ticket          0
Fare            8
Cabin           0
Embarked       12
dtype: int64

Las columnas que tienen datos nulos son: 

- Age

- SibSp

- Parch

- Fare

- Embarked

Sin embargo, hay un detalle que es importante notar. La funcion **isna** solo tomar los valores que python define como valores nulos, pero si una columna tuviera los valores nulos identificados con un caracter en especifico, como '?' por ejemplo, no los va a agarrar.

Con esto en mente, si se examina la columna *Sex* se puede notar que esta columna de hecho si tiene nulos, a pesar de que la funcion sugiere que no.

In [7]:
print(np.unique(dataset_MD.Sex))

['?' 'female' 'male']

Efectivamente, la columna Sex tiene '?' indicando nulos. <br>
Lo que hay que hacer es especificar que los simbolos '?' o cualquier otro identificador de nulos, sean cambiados a nulos de python para que la funcion los agarre.

In [11]:
simbolos = ['?', 'nan', 'NaN', 'null', 'Null']
for i in simbolos:
    dataset_MD = dataset_MD.replace(i, np.nan)
print(dataset_MD.isna().sum())

PassengerId     0
Survived        0
Pclass          0
Name            0
Sex            51
Age            25
SibSp           3
Parch          12
Ticket          0
Fare            8
Cabin           0
Embarked       12
dtype: int64

Efectivamente, ahora hay mas columnas con nulos que previamente. Esta vez, las columnas que contienen nulos son: 

- Sex

- Age

- SibSp

- Parch

- Fare

- Embarked

# Modelos para missing values

## Deletion

Este metodo es muy sencillo de implementar, pues tiene una funcion que hace precisamente esto: **dropna**
Para medir exactamente cuantos valores fueron eliminados, usare la medida **len** del DataSet

In [50]:
a = len(dataset_MD)
b = dataset_MD.dropna()
b = len(b)
print("\n", 'Cantidad de datos originales: ' , a , "\n", 'Cantidad de datos que fueron eliminadors (nulos): ', a - b, "\n", 'Nuevo total sin contar los datos nulos: ', b)

 Cantidad de datos originales:  183
 Cantidad de datos que fueron eliminadors (nulos):  83
 Nuevo total sin contar los datos nulos:  100

Esta solucion no discrimina, simplemente encuentra valores nulos y los bota. En este caso, bota casi la mitad del dataset y es por este tipo de situaciones que generalmente se busca evitar este metodo.